@model ConcertDB.DAL.Entities.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Ticket</h4>
    <partial name="../Shared/ParcialViews/_TicketDetails.cshtml">
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index"class="btn btn-danger">Regresar</a>
</div>
